In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
dataset = pd.read_csv("C:/Users/VISHU/3D Objects/Machine Learning/Datasets/boston.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [35]:
dataset.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [36]:
X = dataset[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'PTRATIO', 'B', 'LSTAT', 'MEDV']]
Y = dataset[['TAX']]
X.shape

(506, 13)

In [37]:
import pickle
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree = 3, include_bias = True)
X_poly = poly.fit_transform(X)
Regression = LinearRegression()
Regression.fit(X, Y)
pickle.dump(Regression, open('model.pkl', 'wb'))
model = pickle.load(open('model.pkl', 'rb'))
scores = []
fold = KFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_val_score(Regression, X, Y.values.ravel(), cv=fold)
for i in range(0, 10):
    print("The Accuracy of ",(i+1)," th Split : ",scores[i]*100,"%")
X.shape

The Accuracy of  1  th Split :  88.90094343654866 %
The Accuracy of  2  th Split :  89.80872371107192 %
The Accuracy of  3  th Split :  89.30961314095858 %
The Accuracy of  4  th Split :  88.2859957683769 %
The Accuracy of  5  th Split :  93.54870067239904 %
The Accuracy of  6  th Split :  79.47483478758271 %
The Accuracy of  7  th Split :  91.34851341546664 %
The Accuracy of  8  th Split :  93.69836970678166 %
The Accuracy of  9  th Split :  86.98486356977008 %
The Accuracy of  10  th Split :  84.9059074036437 %

(506, 13)